<form id="login-form" style="display: none">
    <div>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button onclick="login(event)">
        Submit
    </button>
</form>

<script>
  (function () {
  var authOptions = {
      redirectUri: '{{redirectUri}}',
  }

  reach5('getSsoData', function (err, session) {
      if (session.isAuthenticated) {
          reach5('loginFromSession', authOptions)
      } else {
        document.getElementById("login-form").style.display = 'block'
      }
    })

    function login(e) {
        e.preventDefault()
        var form = document.getElementById('login-form')
        var formData = new FormData(form)
        reach5('loginWithPassword', {
            email: formData.get('email'),
            password: formData.get('password'),
            auth: authOptions,
        }, function (err) {
            if (err) console.log(err)
        })
        return false
    }
})()
</script>
