<form id="update-form" onsubmit="update(event)">
    <div>
        <input type="text" name="given_name" placeholder="First Name">
    </div>
    <div>
        <input type="text" name="family_name" placeholder="Last Name">
    </div>
    <button>
        Submit
    </button>
</form>

<p>
    <a href="/user">Back</a>
</p>

<script>
    function update(e) {
        e.preventDefault();

        var form = document.getElementById('update-form');
        var formData = new FormData(form);

        client.updateProfile({
          accessToken: '{{accessToken}}',
          data: {
            given_name: formData.get('given_name'),
            family_name: formData.get('family_name')
          }
        })
        .then(console.log)
        .catch(console.log)

        return false;
    }
</script>
