<form id="login-phone-form" onsubmit="loginWithPhone(event)">
    <div>
        <input type="text" name="phone_number" placeholder="Phone number">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button>
        Submit
    </button>
</form>

<script>
    function loginWithPhone(e) {
        e.preventDefault();

        var form = document.getElementById('login-phone-form');
        var formData = new FormData(form);

        client.loginWithPassword({
            phone_number: formData.get('phone_number'),
            password: formData.get('password'),
            auth: {
              redirectUri: '{{redirectUri}}'
            }
        })
        .then(console.log)
        .catch(console.log)
        
        return false;
    }
</script>
