<form id="passwordless-form">
    <div>
        <input type="text" name="email" placeholder="Email">
    </div>
    <button onclick="passwordless(event)">
        Submit
    </button>
</form>

<script>
    function signup(e) {
        e.preventDefault();
        var form = document.getElementById('passwordless-form');
        var formData = new FormData(form);
        reach5('startPasswordless', {
          authType: 'magic_link',
          email: formData.get('email')
        }, function (err) {
          if (err) console.log(err);
        });
        return false;
    }
</script>
