<form id="reset-form" onsubmit="login(event)">
    <div>
        <input type="text" name="email" placeholder="Email">
    </div>
    <button>
        Submit
    </button>
</form>

<script>
    function login(e) {
        e.preventDefault();

        var form = document.getElementById('reset-form');
        var formData = new FormData(form);

        client.requestPasswordReset({
          email: formData.get('email')
        })
        .then(console.log)
        .catch(console.log)
        
        return false;
    }
</script>
