<form id="login-form" onsubmit="login(event)">
    <div>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button>
        Submit
    </button>
</form>

<script>
    function login(e) {
        e.preventDefault();

        var form = document.getElementById('login-form');
        var formData = new FormData(form);

        client.loginWithPassword({
            email: formData.get('email'),
            password: formData.get('password'),
            auth: {
              redirectUri: '{{redirectUri}}'
            }
        })
        .then(console.log)
        .catch(console.log)
        
        return false;
    }
</script>
