<form id="update-form">
    <div id="result"></div>
    <div>
        <input type="text" name="email" placeholder="Email">
    </div>
    <button onclick="login(event)">
        Submit
    </button>
</form>

<p>
    <a href="/user">Back</a>
</p>

<script>
    function login(e) {
        e.preventDefault();
        var form = document.getElementById('update-form');
        var formData = new FormData(form);
        reach5('updateEmail', {
          accessToken: '{{accessToken}}',
          email: formData.get('email')
        }, function (err, res) {
            if (err) {
                document.getElementById('result').append(err.errorDescription)
            } else {
                document.getElementById('result').append('Your request has been processed successfully')
            }
        });
        return false;
    }
</script>
