<form id="update-form" onsubmit="update(event)">
    <div id="result"></div>
    <div>
        <input type="text" name="email" placeholder="Email">
    </div>
    <button>
        Submit
    </button>
</form>

<p>
    <a href="/user">Back</a>
</p>

<script>
    function update(e) {

        e.preventDefault();

        var form = document.getElementById('update-form');
        var formData = new FormData(form);

        client.updateEmail({
          accessToken: '{{accessToken}}',
          email: formData.get('email')
        })
        .then(document.getElementById('result').append('Your request has been processed successfully'))
        .catch(document.getElementById('result').append(err.errorDescription))

        return false;
    }
</script>
