<form id="login-phone-form">
    <div>
        <input type="text" name="phone_number" placeholder="Phone number">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button onclick="loginWithPhoneNumber(event)">
        Submit
    </button>
</form>

<script>
    function loginWithPhoneNumber(e) {
        e.preventDefault();
        var form = document.getElementById('login-phone-form');
        var formData = new FormData(form);
        reach5('loginWithPassword', {
            phone_number: formData.get('phone_number'),
            password: formData.get('password'),
            auth: {
              redirectUri: '{{redirectUri}}'
            }
        }, function (err) {
            if (err) console.log(err);
        });
        return false;
    }
</script>
