<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/@reachfive/identity-core@1.2.1/umd/identity-core.min.js"></script>
    <script type="text/javascript">
        const client = reach5.createClient({
            domain: '{{reach5Domain}}',
            clientId: '{{reach5ClientId}}'
        })
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
