<div id="auth-widget"></div>

<script async src="https://{{reach5Domain}}/js/v1/identity.js"></script>

<script>
    window.reach5=window.reach5||function(){(reach5.q=reach5.q||[]).push(arguments)};

    reach5('showAuth', {
        container: 'auth-widget',
        auth: {
            redirectUri: '{{redirectUri}}'
        }
    });
</script>
