<p>
    Connected as {{name}} - <a href="/logout">Logout</a>
</p>

<div id="profile-editor"></div>

<p>
    <a href="/user">Back</a>
</p>

<script>
    reach5('showProfileEditor', {
        container: 'profile-editor',
        fields: [
            "given_name",
            "family_name"
        ]
    });
</script>
