<p>
  <button id="btn-facebook" onclick="login('facebook')">
    Login with Facebook
  </button>
</p>
<p>
  <button id="btn-google" onclick="login('google')">
    Login with Google
  </button>
</p>
<script>
    function login(provider) {
      reach5('loginWithSocialProvider', provider, {
        redirectUri: '{{redirectUri}}'
      });
    }
</script>
