<form id="update-form">
    <div>
        <input type="text" name="givenName" placeholder="First Name">
        <input type="text" name="familyName" placeholder="Last Name">
    </div>
    <button onclick="login(event)">
        Submit
    </button>
</form>

<p>
    <a href="/user">Back</a>
</p>

<script>
    function login(e) {
        e.preventDefault();
        var form = document.getElementById('update-form');
        var formData = new FormData(form);
        reach5('updateProfile', {
          accessToken: '{{accessToken}}',
          data: {
            givenName: formData.get('givenName'),
            familyName: formData.get('familyName')
          }
        }, function (err) {
            if (err) console.log(err);
        });
        return false;
    }
</script>
