<form id="update-form">
    <div>
        <input type="password" name="password">
    </div>
    <button onclick="login(event)">
        Submit
    </button>
</form>

<p>
    <a href="/user">Back</a>
</p>

<script>
    function login(e) {
        e.preventDefault();
        var form = document.getElementById('update-form');
        var formData = new FormData(form);
        reach5('updatePassword', {
          accessToken: '{{accessToken}}',
          password: formData.get('password')
        }, function (err, result) {
            if (err) console.log(err);
        });
        return false;
    }
</script>
