<p>
    Connected as {{name}} - <a href="/logout">Logout</a>
</p>
<p>
  <a href="/profile">
      Profile Editor
  </a>
</p>
<p>
  <a href="/email-editor">
      Email Editor
  </a>
</p>
<p>
  <a href="/password-editor">
      Password Editor
  </a>
</p>
