<p>Connected as {{name}} - <a href="/logout">Logout</a></p>

<h3>Widget</h3>
<p><a href="/widget-user-profile-editor">Profile Editor</a</p>
<p><a href="/widget-user-email-editor">Email Editor</a></p>
<p><a href="/widget-user-password-editor">Password Editor</a></p>

<h3>Core</h3>
<p><a href="/core-user-update-profile">Update Profile</a></p>
<p><a href="/core-user-update-email">Update Email</a></p>
<p><a href="/core-user-update-password">Update Password</a></p>
