<p>Connected as {{name}} - <a href="/logout">Logout</a></p>

<p><a href="/core-user-update-profile">Update Profile</a></p>
<p><a href="/core-user-update-email">Update Email</a></p>
<p><a href="/core-user-update-password">Update Password</a></p>
