<div id="social-buttons-container"></div>

<script>
    reach5('showSocialLogin', {
        container: 'social-buttons-container',
        auth: {
            redirectUri: '{{redirectUri}}'
        }
    });
</script>
